<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="XbmcPath" value="D:\XBMC\" />

    <!--Only Uncomment one of the following sources based on your prefrence-->
    <add key="ReleaseUrl" value="http://danielpatton.com/user-accounts/XBMC-updates/" />
    <!--
    <add key="ReleaseUrl" value="http://danielpatton.com/user-accounts/XBMC-updates/ikons/" />
    -->
   
  </appSettings>
</configuration>